body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.highlight {
  color: #ff6600; /* màu bạn muốn */
  font-weight: normal; /* nếu muốn in đậm thêm */
}

/*--------Link social--------*/
.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.social-links {
  position: absolute;
  top: 1rem;
  right: 50px;  /* góc phải trong container */
}

.social-links img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
}

.social-links img:hover {
  transform: scale(1.1);               /* phóng to nhẹ khi hover */
  filter: drop-shadow(0 0 5px #ff6600); /* viền sáng cam khi hover */
}
