/* ticker.css */

/* Định dạng chung cho tickerbar */
gecko-coin-price-marquee-widget {
  display: block;
  width: 100%;
  padding: 5px 0;
  background: #000  /* nền tối */
  color: #fff;        /* chữ trắng */
  font-size: 14px;
  border-bottom: 1px solid #333;
}

/* Thuộc tính Tickerbar */
.ticker-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #000 /* nền đen */
  color: #fff !important;       /* chữ trắng */
  font-size: 14px;
  padding: 4px 0;
}

/* Ẩn dòng "Powered by CoinGecko" */
  gecko-coin-price-marquee-widget::part(footer) {
    display: none
}

/* chỉ còn ký hiệu (BTC, SOL, ETH) */
  gecko-coin-price-marquee-widget::part(name) {
    display: none
}